.button-bar
  %ul.button-group
    %li{:style => "margin-right: 30px;"}
      %a.small.button.success{:href => new_patient_path} Nuevo
    %li
      %a.small.button.secondary{:href => "#"} Borrar

%ul
  %li.search
    %form
      %input{:type => "search"}


%table
  %thead
    %tr
      %th
        %input{:type => "checkbox"}
      %th{"width" => "200"} Nombres
      %th{"width" => "200"} Apellidos
      %th Teléfono
      %th Celular
      %th{"width" => "150"} Domicilio

  %tbody
    - @patients.each do |p|
      %tr
        %td
          %input{:type => "checkbox"}
        %td= p.firstname
        %td= p.lastname
        %td= p.telephone
        %td= p.cellphone
        %td= p.address
