= form_for(@patient) do |f|
  - if @patient.errors.any?
    #error_explanation
      %h2= pluralize(@patient.errors.count, "error") + "prohibited this patient from being saved:"

      %ul
        = @patient.errors.full_messages.each do |msg|
          %li= msg

  .row
    .large-6.columns
      %h3 Información básica
      .actions
        .row
          .small-3.columns
            %label.right.inline{:for => "firstname"} Nombres
          .small-9.columns
            = f.text_field :firstname
        .row
          .small-3.columns
            %label.right.inline{:for => "lastname"} Apellidos
          .small-9.columns
            = f.text_field :lastname
        .row
          .small-3.columns
            %label.right.inline{:for => "telephone"} Teléfono
          .small-9.columns
            = f.text_field :telephone
        .row
          .small-3.columns
            %label.right.inline{:for => "cellphone"} Celular
          .small-9.columns
            = f.text_field :cellphone
        .row
          .small-3.columns
            %label.right.inline{:for => "id-card"} C.I.
          .small-9.columns
            = f.text_field :id_card
        .row
          .small-3.columns
            %label.right.inline{:for => "address"} Domicilio
          .small-9.columns
            = f.text_field :address
    .large-6.columns
      %h3 Motivo de primer contacto
      = f.text_area :first_contact, :rows => "10"
  = submit_tag "Guardar", :class => "button"
