%h2
  = @patient.firstname + " " + @patient.lastname
  %small
    %a.button.small{:href => edit_patient_path(@patient)} Editar

.section-container.auto{:data => {"section" => true}}

  %section.active
    %p.title{:data => {"section-title" => true}}
      %a{:href => "#general"} General
    .content{:data => {"section-content" => true}}
      %ul.inline-list
        %li
          %i.icon-leaf{:style => "color: #4e9a06; font-size: larger;"}
        %li
          %i.icon-eye{:style => "color: #a40000; font-size: larger;"}
        %li
          %strong
            %i.icon-user{:style => "font-size: larger;"}
            Atendido por Silvia Pelaez
        %li
          %span
            %i.icon-location{:style => "font-size: larger;"}
            Montevideo, Uruguay

      %hr

      %h5 Motivo de primer contacto
      = simple_format @patient.first_contact

      %table
        %thead
          %tr
            %th Edad
            %th Género
            %th Raza
            %th Teléfono
            %th Teléfono auxiliar
            %th Celular
            %th Cédula de identidad
            %th Domicilio
            %th Estado civil

        %tbody
          %tr
            %td= @patient.telephone
            %td= @patient.telephone_aux
            %td= @patient.cellphone
            %td= @patient.id_card
            %td= @patient.address

      %h5 Asistencia médica
      %table
        %tbody
          %tr
            %td
              %strong Mutualista
            %td Hospital Evangélico
          %tr
            %td
              %strong Emergencia móvil
            %td Hospital Evangélico
          %tr
            %td
              %strong Médico tratante
            %td Hospital Evangélico
          %tr
            %td
              %strong Pisquiatra tratante
            %td Hospital Evangélico
          %tr
            %td
              %strong Terapeuta
            %td Hospital Evangélico


      %h5 Otras características
      %ul.inline-list
        %li
          %strong Lugar de nacimiento
          Montevideo, Uruguay
        %li
          %strong Nacionalidad
          Montevideo, Uruguay
        %li
          %strong Escolaridad
          Nivel terciario

  %section
    %p.title{:data => {"section-title" => true}}
      %a{:href => "#data"} Datos clínicos
    .content{:data => {"section-content" => true}}
      %h5 Antecedentes familiares

      %ul.no-bullet
        %li
          %i.icon-check
          Violencia doméstica

      %hr

      .row

        .large-6.columns

          %h5 Antecedentes por parte paterna

          %ul.no-bullet
            %li
              %i.icon-check
              Epilepsia
            %li
              %i.icon-check
              Jubilación compulsiva

        .large-6.columns

          %h5 Antecedentes por parte materna

          %ul.no-bullet
            %li
              %i.icon-check
              Epilepsia
            %li
              %i.icon-check
              Jubilación compulsiva
            %li
              %i.icon-check
              Violencia sexual

  %section
    %p.title{:data => {"section-title" => true}}
      %a{:href => "#clinical-history"} Historial clínico
    .content{:data => {"section-content" => true}}

      #form-wrapper
        = form_tag add_clinical_history_patients_path, method: :post do
          = hidden_field_tag 'patient_id', @patient.id
          = text_area_tag 'text', nil, :rows => 6, :placeholder => "Ingresar información de seguimiento"
          = submit_tag "Agregar", :class => "button small secondary"

      - @histories.each do |h|
        .panel
          %ul.inline-list
            %li
              %strong
                %i.icon-calendar
                = h.created_at
            %li= link_to h.author, patients_path

          %hr

          = simple_format h.text

