%h2
  = @patient.firstname + " " + @patient.lastname
  %small
    %a.button.small{:href => edit_patient_path(@patient)} Editar

.section-container.auto{:data => {"section" => true}}

  %section.active
    %p.title{:data => {"section-title" => true}}
      %a{:href => "#general"} General
    .content{:data => {"section-content" => true}}
      %ul.inline-list
        %li
          %i.icon-leaf{:style => "color: #4e9a06; font-size: larger;"}
        %li
          %i.icon-eye{:style => "color: #a40000; font-size: larger;"}
        %li
          %strong
            %i.icon-user{:style => "font-size: larger;"}
            Atendido por Silvia Pelaez
        %li
          %span
            %i.icon-location{:style => "font-size: larger;"}
            Montevideo, Uruguay

      %hr

      %h5 Motivo de primer contacto
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis sagittis nisl. Vestibulum vel massa ut libero congue fringilla. Duis pulvinar erat id lorem auctor iaculis. Etiam et ultricies nisi, at eleifend leo. Maecenas at tortor libero. Aenean ut magna vel dolor blandit faucibus. Phasellus tortor dui, consectetur non neque id, auctor scelerisque ligula. Nulla facilisi. Suspendisse accumsan diam vel rhoncus aliquet. Morbi pulvinar tristique sem, vel posuere lacus feugiat congue. Maecenas tempus eget metus at scelerisque. Vestibulum in mauris ac dolor lobortis bibendum. In hac habitasse platea dictumst.

      %table
        %thead
          %tr
            %th Edad
            %th Género
            %th Raza
            %th Teléfono
            %th Teléfono auxiliar
            %th Celular
            %th Cédula de identidad
            %th Domicilio
            %th Estado civil

        %tbody
          %tr
            %td= @patient.telephone
            %td= @patient.telephone_aux
            %td= @patient.cellphone
            %td= @patient.id_card
            %td= @patient.address

      %h5 Asistencia médica
      %table
        %tbody
          %tr
            %td
              %strong Mutualista
            %td Hospital Evangélico
          %tr
            %td
              %strong Emergencia móvil
            %td Hospital Evangélico
          %tr
            %td
              %strong Médico tratante
            %td Hospital Evangélico
          %tr
            %td
              %strong Pisquiatra tratante
            %td Hospital Evangélico
          %tr
            %td
              %strong Terapeuta
            %td Hospital Evangélico


      %h5 Otras características
      %ul.inline-list
        %li
          %strong Lugar de nacimiento
          Montevideo, Uruguay
        %li
          %strong Nacionalidad
          Montevideo, Uruguay
        %li
          %strong Escolaridad
          Nivel terciario

  %section
    %p.title{:data => {"section-title" => true}}
      %a{:href => "#data"} Datos clínicos
    .content{:data => {"section-content" => true}}
      %h5 Antecedentes familiares

      %ul.no-bullet
        %li
          %i.icon-check
          Violencia doméstica

      %hr

      .row

        .large-6.columns

          %h5 Antecedentes por parte paterna

          %ul.no-bullet
            %li
              %i.icon-check
              Epilepsia
            %li
              %i.icon-check
              Jubilación compulsiva

        .large-6.columns

          %h5 Antecedentes por parte materna

          %ul.no-bullet
            %li
              %i.icon-check
              Epilepsia
            %li
              %i.icon-check
              Jubilación compulsiva
            %li
              %i.icon-check
              Violencia sexual

  %section
    %p.title{:data => {"section-title" => true}}
      %a{:href => "#clinical-history"} Historial clínico
    .content{:data => {"section-content" => true}}

      #form-wrapper
        = form_tag add_clinical_history_patients_path, method: :post do
          = text_area_tag 'clinical_history_text', nil, :rows => 6, :placeholder => "Ingresar información de seguimiento"
          = submit_tag "Agregar", :class => "button small secondary"

      .panel
        %ul.inline-list
          %li
            %strong
              %i.icon-calendar
              20/06/2013
          %li= link_to "Silvia Pelaez", patients_path

        %hr

        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis sagittis nisl. Vestibulum vel massa ut libero congue fringilla. Duis pulvinar erat id lorem auctor iaculis. Etiam et ultricies nisi, at eleifend leo. Maecenas at tortor libero. Aenean ut magna vel dolor blandit faucibus. Phasellus tortor dui, consectetur non neque id, auctor scelerisque ligula. Nulla facilisi. Suspendisse accumsan diam vel rhoncus aliquet. Morbi pulvinar tristique sem, vel posuere lacus feugiat congue. Maecenas tempus eget metus at scelerisque. Vestibulum in mauris ac dolor lobortis bibendum. In hac habitasse platea dictumst.
        %p Aenean sed elementum mauris, eu semper elit. Vestibulum elementum porttitor erat, facilisis malesuada orci tempor id. Sed auctor magna mi, sit amet mollis nisl tempor quis. Nunc ac sagittis dolor. In ac elit a ipsum viverra mattis eget ut arcu. Sed gravida suscipit enim in scelerisque. Aliquam at laoreet enim. Vestibulum sodales, lorem et auctor accumsan, mauris leo lacinia velit, eu blandit odio elit feugiat dui. Suspendisse potenti. Integer augue nisi, convallis id congue quis, fermentum nec erat.

      .panel
        %ul.inline-list
          %li
            %strong
              %i.icon-calendar
              02/06/2013
          %li= link_to "Silvia Pelaez", patients_path

        %hr

        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis sagittis nisl. Vestibulum vel massa ut libero congue fringilla. Duis pulvinar erat id lorem auctor iaculis. Etiam et ultricies nisi, at eleifend leo. Maecenas at tortor libero. Aenean ut magna vel dolor blandit faucibus. Phasellus tortor dui, consectetur non neque id, auctor scelerisque ligula. Nulla facilisi. Suspendisse accumsan diam vel rhoncus aliquet. Morbi pulvinar tristique sem, vel posuere lacus feugiat congue. Maecenas tempus eget metus at scelerisque. Vestibulum in mauris ac dolor lobortis bibendum. In hac habitasse platea dictumst.
        %p Aenean sed elementum mauris, eu semper elit. Vestibulum elementum porttitor erat, facilisis malesuada orci tempor id. Sed auctor magna mi, sit amet mollis nisl tempor quis. Nunc ac sagittis dolor. In ac elit a ipsum viverra mattis eget ut arcu. Sed gravida suscipit enim in scelerisque. Aliquam at laoreet enim. Vestibulum sodales, lorem et auctor accumsan, mauris leo lacinia velit, eu blandit odio elit feugiat dui. Suspendisse potenti. Integer augue nisi, convallis id congue quis, fermentum nec erat.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis sagittis nisl. Vestibulum vel massa ut libero congue fringilla. Duis pulvinar erat id lorem auctor iaculis. Etiam et ultricies nisi, at eleifend leo. Maecenas at tortor libero. Aenean ut magna vel dolor blandit faucibus. Phasellus tortor dui, consectetur non neque id, auctor scelerisque ligula. Nulla facilisi. Suspendisse accumsan diam vel rhoncus aliquet. Morbi pulvinar tristique sem, vel posuere lacus feugiat congue. Maecenas tempus eget metus at scelerisque. Vestibulum in mauris ac dolor lobortis bibendum. In hac habitasse platea dictumst.
        %p Aenean sed elementum mauris, eu semper elit. Vestibulum elementum porttitor erat, facilisis malesuada orci tempor id. Sed auctor magna mi, sit amet mollis nisl tempor quis. Nunc ac sagittis dolor. In ac elit a ipsum viverra mattis eget ut arcu. Sed gravida suscipit enim in scelerisque. Aliquam at laoreet enim. Vestibulum sodales, lorem et auctor accumsan, mauris leo lacinia velit, eu blandit odio elit feugiat dui. Suspendisse potenti. Integer augue nisi, convallis id congue quis, fermentum nec erat.

      .panel
        %ul.inline-list
          %li
            %strong
              %i.icon-calendar
              02/06/2013
          %li= link_to "Silvia Pelaez", patients_path

        %hr

        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis sagittis nisl. Vestibulum vel massa ut libero congue fringilla. Duis pulvinar erat id lorem auctor iaculis. Etiam et ultricies nisi, at eleifend leo. Maecenas at tortor libero. Aenean ut magna vel dolor blandit faucibus. Phasellus tortor dui, consectetur non neque id, auctor scelerisque ligula. Nulla facilisi. Suspendisse accumsan diam vel rhoncus aliquet. Morbi pulvinar tristique sem, vel posuere lacus feugiat congue. Maecenas tempus eget metus at scelerisque. Vestibulum in mauris ac dolor lobortis bibendum. In hac habitasse platea dictumst.
